meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width,initial-scale=1')
link(rel='stylesheet' href='/css/base.css')
link(rel='stylesheet' href='/css/study.css')
link(rel='stylesheet' href='/css/profile.css')
title Dashboard
.container-all
  section.side-bar
    //  logo/ Brande 
    a.logo(href='/home')
      svg.logo-icon(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
        path(d='M10 3.5a1.5 1.5 0 013 0V4a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-.5a1.5 1.5 0 000 3h.5a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-.5a1.5 1.5 0 00-3 0v.5a1 1 0 01-1 1H6a1 1 0 01-1-1v-3a1 1 0 00-1-1h-.5a1.5 1.5 0 010-3H4a1 1 0 001-1V6a1 1 0 011-1h3a1 1 0 001-1v-.5z')
      h2
        | Al
        span goz
    nav.space-nav
      ul.space-ul
        li
          if currentUser.role === 'admin' || currentUser.role === 'instructor'|| currentUser.role === 'student'
            a(href='/announcement')
              svg(classname='w-6 h-6' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(strokelinecap='round' strokelinejoin='round' strokewidth='{2}' d='M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9')
              span Announcement
        li
          if currentUser.role === 'admin'
            a(href='/student/studyboard')
              svg(classname='w-6 h-6' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(strokelinecap='round' strokelinejoin='round' strokewidth='{2}' d='M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2')
              span StudyBoard
          if currentUser.role === 'instructor'|| currentUser.role === 'student'
            a(href='/my/studyboard')
              svg(classname='w-6 h-6' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(strokelinecap='round' strokelinejoin='round' strokewidth='{2}' d='M9 17V7m0 10a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h2a2 2 0 012 2m0 10a2 2 0 002 2h2a2 2 0 002-2M9 7a2 2 0 012-2h2a2 2 0 012 2m0 10V7m0 10a2 2 0 002 2h2a2 2 0 002-2V7a2 2 0 00-2-2h-2a2 2 0 00-2 2')
              span StudyBoard
        li
          if currentUser.role === 'admin' || currentUser.role === 'instructor'|| currentUser.role === 'student'
            a(href='/resource')
              svg(classname='w-6 h-6' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(strokelinecap='round' strokelinejoin='round' strokewidth='{2}' d='M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z')
              span Resourse
            a(href='/algonet')
              svg(classname='w-6 h-6' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(strokelinecap='round' strokelinejoin='round' strokewidth='{2}' d='M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z')
              span AlgoNet 
      ul.set-ul
        li
          a(href='/course')
            svg(classname='w-6 h-6' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
              path(strokelinecap='round' strokelinejoin='round' strokewidth='{2}' d='M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10')
            span Courses
          if currentUser.role === 'admin'
            a(href='mange')
              svg(classname='w-6 h-6' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
                path(strokelinecap='round' strokelinejoin='round' strokewidth='{2}' d='M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10')
              span Manage
           
        li
          a(href='/setting')
            svg(classname='w-6 h-6' fill='none' stroke='currentColor' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg')
              path(strokelinecap='round' strokelinejoin='round' strokewidth='{2}' d='M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z')
              path(strokelinecap='round' strokelinejoin='round' strokewidth='{2}' d='M15 12a3 3 0 11-6 0 3 3 0 016 0z')
            span Setting
    .profile
      a.me(href='/me')
        img(src='/img/ppic.jpg' alt)
        p.name= `${currentUser.firstname} ${currentUser.lastname}`
      p.role= `${currentUser.role}`
      a(href='/logout') Log Out
    .colors   
        .color-box
           svg.dark(width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xlink='http://www.w3.org/1999/xlink')
                title ic_fluent_dark_theme_24_regular
                desc Created with Sketch.
                g#Product-Icons(stroke='none' stroke-width='1' fill='none' fill-rule='evenodd')
                    g#ic_fluent_dark_theme_24_regular(fill='#212121' fill-rule='nonzero')
                        path#-Color(d='M12,22 C17.5228475,22 22,17.5228475 22,12 C22,6.4771525 17.5228475,2 12,2 C6.4771525,2 2,6.4771525 2,12 C2,17.5228475 6.4771525,22 12,22 Z M12,20.5 L12,3.5 C16.6944204,3.5 20.5,7.30557963 20.5,12 C20.5,16.6944204 16.6944204,20.5 12,20.5 Z')
  section.main
    block content
      .intrance 

        h1.intrance-title Algoz has Arrived, the Gaint StudySpace!
        p.intrance-text Welcome Back !
        p.user= `${currentUser.firstname}    ${currentUser.lastname}`
         

script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js')
script(type='module' src='/js/script.js')