extend base
block content 
    section.main
        .main-container
            .main-item-space
                h2 A New Day!
                ul
                    li
                        a(href='#') Activity
                    li
                        a(href='#') Training land
                .content
                    p= `${foundSpace.course}` 
                    p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem expedita ipsum sint voluptatem sed nam.
                    p= `${foundSpace.firstp}`
                    ol
                        li Lorem ipsum dolor sit.
                        li= `${foundSpace.list1}`
                        li Lorem ipsum dolor sit.
                        li= `${foundSpace.list2}`
                        li Lorem ipsum dolor sit.
                        li= `${foundSpace.list3}`
                        
                    p.join Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident iste enim quasi voluptate dignissimos temporibus.
                    a(href= `${foundSpace.link}`) Join Class Room
                - if(currentUser.role === 'admin' || currentUser.role === 'instructor'){
                    a.edit(href='#') Edit Space
                    a.delete(href='#') Destroy 

                - }
        if currentUser.role === 'admin' || currentUser.role === 'instructor'
            .createspace
                p.create Create a Study Space
                form.form(action='#')
                    .title
                        label(for='title') Course
                        //- input#title(name='title' type='text')
                        select#course(name='course')
                            option(value='Basic Computer Skill') Basic Computer Skill
                            option(value='Database Management System') Database Management System
                            option(value='Programming Language') Programming Language
                            option(value='Website Development') Website Development
                            option(value='Android App Development') Android App Development
                    .firstp
                        label(for='firstp') Description
                        textarea#firstp(name='firstp' cols='30' rows='10')
                    .lists
                        label(for='list') your Main 3 (three) points
                        input#list1(type='text' name='list1')
                        input#list2(type='text' name='list2')
                        input#list3(type='text' name='list3')
                    .secondp
                        label(for) Last Words | meeting time | encouragements...
                        textarea#secondp(name='secondp' cols='40' rows='10')
                    .meeting-link
                        label(for='link') Room Link
                        input#link(type='text' name='link')
                    .submit
                        input(type='submit' value='Create Space')